.track {
  padding: 0.8rem;
  background-color: #f1f1f1;
}

.add-btn {
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;

  span {
    font-size: 1.5rem;
    font-weight: 800;
    &:before {
      content: "\FF0B";
    }
  }
}
