<div class="card mt-2 border-radius-1 position-relative" [ngClass]="{ 'mb-3': !last}" (click)="openTaskModal(content)">
	<span class="text-secondary close-btn" (click)="removeTask(task)">&#10005;</span>
	<div class="card-body p-0">
		<div class="font-weight-bold p-3">{{task.title}}</div>
		<div *ngIf="task.file" class="pb-3">
			<img [src]="task.file" alt="File" class="w-100">
		</div>
		<div class="px-3 pb-3 d-flex flex-wrap justify-content-between">
			<span class="badge badge-pill badge-light">
				<i class="fi-xnluxl-bell"></i> {{task.date | date: 'MMM, d'}}
			</span>
			<span>
				<span *ngFor="let user of task.users; let last=last;" class="ml-1 badge badge-pill badge-light">
					{{user}}
				</span>
			</span>
		</div>
	</div>
</div>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{task.title}}</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div>{{task.description}}</div>
		<span class="float-right">
			<ng-container *ngFor="let user of task.users; let last=last;">
				<span class="mr-2 badge badge-pill badge-light">
					{{user}}
				</span>
			</ng-container>
		</span>
	</div>
</ng-template>