<div class="sidenav bg-primary">

	<div class="top-menu">
		<div class="mb-auto">
			<a href="#">
				<i class="fi-xnsuxl-instagram text-white"></i>
			</a>
		</div>
	</div>

	<div class="main-menu">
		<div class="my-2">
			<a href="#">
				<i class="fi-xtluxl-home text-white"></i>
			</a>
		</div>
		<div class="my-2">
			<a href="#">
				<i class="fi-xnluxl-table text-white"></i>
			</a>
		</div>
		<div class="my-2">
			<a href="#">
				<i class="fi-stluxl-calendar text-white"></i>
			</a>
		</div>
		<div class="my-2">
			<a href="#">
				<i class="fi-xtluxl-comment text-white"></i>
			</a>
		</div>
		<div class="my-2">
			<a href="#">
				<i class="fi-ctluhl-clock text-white"></i>
			</a>
		</div>
		<div class="my-2">
			<a href="#">
				<i class="fi-xtluxl-user text-white"></i>
			</a>
		</div>
		<div class="my-2">
			<a href="#">
				<i class="fi-xtluxl-tools text-white"></i>
			</a>
		</div>
	</div>
</div>