<div class="sidenav bg-primary">

	<div class="top-menu">
		<div class="mb-auto">
			<a href="#">
				<i class="fa fa-instagram text-white" aria-hidden="true"></i>
			</a>
		</div>
	</div>

	<div class="main-menu">
		<div class="my-2">
			<a href="#">
				<i class="fa fa-home text-white" aria-hidden="true"></i>
			</a>
		</div>
		<div class="my-2">
			<a href="#">
				<i class="fa fa-calendar text-white" aria-hidden="true"></i>
			</a>
		</div>
		<div class="my-2">
			<a href="#">
				<i class="fa fa-comment-o text-white" aria-hidden="true"></i>
			</a>
		</div>
		<div class="my-2">
			<a href="#">
				<i class="fa fa-clock-o text-white" aria-hidden="true"></i>
			</a>
		</div>
		<div class="my-2">
			<a href="#">
				<i class="fa fa-user-o text-white" aria-hidden="true"></i>
			</a>
		</div>
		<div class="my-2">
			<a href="#">
				<i class="fa fa-wrench text-white" aria-hidden="true"></i>
			</a>
		</div>
	</div>
</div>