/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/css/font-awesome.css";

.droplist {
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.dragbox {
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.dragbox:last-child {
  border: none;
}

.droplist.cdk-drop-list-dragging .dragbox:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.badge {
  padding: 0.4rem;
}

.badge-pill {
  border-radius: 0.2rem;
}

.badge-grey {
  color: #7b7b7b;
  background-color: #e0e0e0;
}

.badge-light {
  color: #7b7b7b;
  background-color: #f4f4f4;
}

.badge-warning {
  color: #d68a00;
  background-color: #fce6be;
}

.border-radius-1 {
  border-radius: 0.3rem;
}

.form-group {
  label.required:after {
    content: "*";
    color: rgb(221, 5, 5);
    font-weight: 600;
  }
}
